<div class="padding-left">
    <h2 data-bind="text: header">
        Add note</h2>
    <form>
    <p>
        <label for="Title">
            Title</label></p>
    <div class="input-control text disabled">
        <input data-bind="value: note().Title" style="width: 600px;" autocomplete="off" type="text" name="Title" /></div>
    <p>
        <label for="Content">
            Content</label>
    </p>
    <div class="input-control textarea">
        <textarea rows="10" style="width: 600px;" cols="180" data-bind="value:note().Content" name="Content">
                </textarea>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" data-bind="command: saveNote, activity: saveNote.isExecuting">
            Save</button>
        <a href="#">Back to list</a>
    </div>
    </form>
</div>
