@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TGD.NET SPA</title>
    @Styles.Render("~/content/css")
</head>
    <body>
        <h1>Notes</h1>
        <div id="app">
            <div>Initializing application...</div>
        </div>
        @Scripts.Render("~/scripts/lib")
        <script type="text/javascript" data-main="@Url.Content("~/scripts/app/main")" src="@Url.Content("~/scripts/require.js")"></script>
    </body>
</html>